<section id="header">

    <a href="index.html">

        <img
            src="../assets/images/logo.png"
            class="logo"
            alt="AnthropicBots Logo"
        >

    </a>

    <ul id="navbar-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li>
            <a href="cart.html">
                <i class="far fa-shopping-bag"></i>
            </a>
        </li>
        
        <li class="profile-wrapper">
            <a href="signin.html" id="auth-link">
                Sign In
            </a>
        
            <div id="profile-dropdown">
                <a href="dashboard.html">
                    <i class="fas fa-user"></i>
                    My Profile            
                </a>
    
                <a href="dashboard.html#orders">
                    <i class="fas fa-shopping-bag"></i>
                    Orders
                </a>
            
                <a href="dashboard.html#wishlist">

                    <i class="fas fa-heart"></i>

                    Wishlist

                </a>
    
                <a href="dashboard.html#settings">
                    <i class="fas fa-cog"></i>
                    Settings
                </a>

                <a href="dashboard.html#cart">

                    <i class="fas fa-shopping-cart"></i>
                                
                    Saved Cart
                                
                </a>

                <button id="logout-btn">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </button>
            </div>
        </li>
    </ul>

</section>